extends ../layout

append css
    link(rel='stylesheet',href='/components/jquery-upload-file/css/uploadfile.css')
    
block content
    h2.page-header= information._id?'修改公告信息':'保存公告信息'

    form.vertical-form#info-form
        .col-lg-6
            div.form-group.hide
                label(for="title") ID
                input.form-control(name="_id", id="_id", value=information.id)

            div.form-group
                label(for="title") 公告标题 *：
                input.form-control(name="title", id="title",required, placeholder="请输入公告标题...", value=information.title)
            
            div.form-group
                label(for="info") 简介 *：
                textarea.form-control(name="info", id="info",required,mainRequire,data-rule-maxlength=5)= information.info

            div.form-group
                label(for="") 封面图片 *:
                a.Recommend-image#add-cover(title="单击添加图片",name="coverImage",required)
                    span.fa.fa-plus

            div.form-group
                label(for="published") 是否发布 *：
                input(name="published", id="published", type="checkbox", checked=information.published)
            
        .col-lg-5.col-lg-offset-1
            div.form-group
                label(for="content") 内容 *：
                textarea.form-control(name="content", id="content", required,mainRequire,data-rule-maxlength=10)= information.content
        .col-lg-12
            div.form-group
                a.btn.btn-info(id='submit-btn',href="javascript:;")= information._id?'修改公告信息':'保存公告信息'

block scripts 
    script(src="/js/admin/information.js")
