extends ../layout

append css
    link(rel='stylesheet',href='/components/jquery-upload-file/css/uploadfile.css')

block content
    h2.page-header= users._id?'修改用户信息':'保存用户信息'
    != messages()

    if errors && errors.length
        div.errors
            each error in errors
                p.alert.alert-danger= error.msg

    form.vertical-form#user-form
        div.form-group.hide
            label(for="username") ID
            input.form-control(name="_id", id="_id", value=users.id)

        div.form-group
            label(for="username") 用户账号
            input.form-control(name="username", id="username", required="true",data-rule-ajax="/admin/users/checkOnly",mainRequire ,placeholder="请输入用户名...", value=users.username)

        div.form-group
            label(for="password") 密码
            input.form-control(name="password", type="password", id="password", required="true")= users.password


        
        div.form-group
            a.btn.btn-info(type="submit",id='submit-btn',href="javascript:;")= users._id?'修改用户信息':'保存用户信息'

block scripts
    script(src="/js/ckeditor/ckeditor.js")
    script(src="/components/jquery-upload-file/js/jquery.form.js")
    script(src="/components/jquery-upload-file/js/jquery.uploadfile.js")
    script(src="/js/lib/ajaxUtil.js")
    script(src='/js/lib/urlData.js')
    script(src="/js/admin/users.js")
